body {
  text-align: center;
  background-color: rgb(72,72,72);
  color: white;
}

a {
  color: white;
  transition: 0.6s ease;
}

a:hover{
  color: blue;
  transition: 0.6s ease;
}

.banner {
  background-color: rgb(0, 102, 0);
  font-size: 120%;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shapes {
  border-radius: 50px;
  width: 30vw;
  height: 30vw;
}

.navbar {
  background-color: white;
  color:  rgb(72,72,72);
}

#magazine{
	width: 80vw;
	height: 40vh;
}
#magazine .turn-page{
	background-color:#ccc;
}
